.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trackList {
  margin: 10px;
}

.listItem {
  padding: 10px;
  width: 200px;
  height: 20px;
  text-align: center;

}

.selectedStyle {
  border: 1px solid red;
}

.button {
  width: 100px;
  height: 40px;
  margin: 10px;
  border-radius: 2px;
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
}

